* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  list-style: none;
  text-decoration: none;
  outline: none;
  scrollbar-width: thin;
  scroll-behavior: smooth;
}
*::selection {
  background-color: yellow;
  color: #000;
}

.container {
  width: 90%;
  margin: auto;
}
body::-webkit-scrollbar {
  width: 0.5rem;
}
body::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
  padding: 100px;
}
body::-webkit-scrollbar-thumb:hover {
  background: #757575;
}
body::-webkit-scrollbar-thumb:active {
  background: #333333;
}
body::-webkit-scrollbar-track {
  border-radius: 10px;
}
.header {
  background-image: linear-gradient(to bottom right, #f0f03375, #f0f033);
  height: 80px;
  position: sticky;
  top: 0;
  z-index: 999;
  transition: 0.2s top;
}
.nav {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, auto);
  gap: 2rem;
  align-items: center;
  width: 95%;
  margin: auto;
  z-index: 9999;
  position: sticky;
  top: 0;
}
.logo {
  display: inline-block;
  z-index: 9999;
}
.menu {
  width: 100%;
  transition: ease-in-out 0.5s;
}
.menu .pages {
  padding: 2rem;
  text-align: right;
  cursor: default;
}
.pages .page {
  display: inline;
  line-height: 20px;
}
.page a {
  color: #000;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  padding: 10px;
  border-radius: 10px 1px 10px 1px;
  border-color: #000;
  transition: 0.25s ease-in-out;
  margin: 5px;
  font-size: 16px;
}
.page a:hover,
.active a {
  background-color: #feffb363;
}
.hamburger span {
  background-color: #000;
  display: block;
  border-radius: 90px;
  width: 100%;
  height: 5px;
  margin-top: 5px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}
.hamburger {
  content: icon;
  cursor: pointer;
  width: 35px;
  height: 35px;
  display: none;
  position: absolute;
  right: 1rem;
  top: 1rem;
  transition: ease-in-out 0.25s;
}
span:nth-child(1) {
  position: absolute;
  top: 0;
}
.hamburger span:nth-child(3) {
  position: absolute;
  top: 18px;
}
.hamburger span:nth-child(2) {
  position: absolute;
  top: 9px;
}
.hamburger.close span:nth-child(1) {
  transform: rotate(-135deg);
  top: 9px;
}
.hamburger.close span:nth-child(3) {
  transform: rotate(135deg);
  top: 9px;
  width: 100%;
}
.hamburger.close span:nth-child(2) {
  opacity: 0;
  right: -10px;
  transition: all 0.5s;
}
#back-to-top {
  position: fixed;
  right: 10px;
  bottom: -10px;
  opacity: 0;
  visibility: hidden;
  transition: ease-in-out 0.3s;
}
#back-to-top .bi {
  font-size: 30px;
  cursor: pointer;
  transition: .25s ease-in-out;
  color: #f0f033;
  box-shadow: 0px 0px 20px transparent;

}
#back-to-top:focus{
  transform: rotate(180deg);
}
#back-to-top:hover .bi{
  font-size: 40px;
}
#footer{
  background-color: #1d1d1d;
  color: #fff;
  font-size: 16px;
}
li .bi{
  padding: 1rem;
}
.location li a{
  color: #fff;
}
.location li a:hover, .cat li a:hover{
  text-decoration: underline;
  cursor: pointer;
}
.footer-row{
  display: grid;
  grid-template-columns: repeat(4, auto);
}
.foothead h2{
  padding: 1rem;
  padding-left: 0;
}
.footbody{
  padding-bottom: 1rem;
  line-height: 2rem;
}
.partners img{
  max-width: 100px;
  height: 30px;
  border: 1px solid #cccccc56;
  padding: .5rem;
  border-radius: 4px;
  cursor: pointer;
}
.partners{
  padding-top: 1rem;
}
.cat li a{
  color: #fff;
}
.footer2{
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 20px;
  padding: 1rem 3rem 1rem 3rem;
  background-color: hsl(500, 10%, 20%);
}
.copyright{
  display: inline;
}
#year{
  position: static;

}
.social > li > a .bi{
  padding: 10px;
  transition: .25s ease-in-out;
}
.social>li>a .bi:hover{
  color: #f0f033;
}
#dev{
  color: #fffb00;
  cursor: pointer;
}
#dev:active{
  color: #ffbb00;
}
.social li{
  display: inline-block;
  text-align: right;
}
.social li a{
  color: #fff;
  padding: 0;
  text-align: right;
}
.social{
  text-align: right;
}
.input-group{
  padding: .5rem;
  width: 200px;
}
.input-group *{
  background: transparent;
  color: #fff;
}
input, textarea{
  padding: .7rem;
  resize: none;
  overflow: hidden;
  outline: none;
  width: 200px;
  border: 1px solid #fff;
  border-radius: 1px;
}
button{
  background-color: orangered;
  cursor: pointer;
  border: none;
  color: #fff;
  margin: .5rem;
  font-size: 14px;
  padding: .5rem;
  width: fit-content;
}
input:focus, textarea:focus{
  outline: none;
}
@media only screen and (max-width: 875px) {
  .page a {
    font-size: 14px;
  }
  .menu .pages {
    padding: 1rem;
  }
  .header {
    height: 70px;
  }
  .nav {
    width: 100%;
  }
  .container{
    width: 90%;
  }
}
@media only screen and (max-width: 744px) {
  .nav {
    width: 90%;
    z-index: 9999;
  }
  .header {
    z-index: 9999;
  }
  .menu .pages {
    position: fixed;
    text-align: center;
    display: grid;
    grid-template-rows: repeat(5, auto);
    gap: 3rem;
    width: 100%;
    top: -100%;
    left: 0;
    transition: ease-in-out 0.25s;
    background-image: linear-gradient(to bottom right, #f0f03375, #f0f033);
    opacity: 0;
  }
  .pages .page {
    transition: ease-in-out 0.25s;
  }
  .page a {
    padding: 10px;
    font-size: 20px;
    width: 100%;
    z-index: -9999;
    border: none;
  }
  .page.active a,
  .page a:hover {
    background-color: transparent;
    border: none;
    color: #ff0000;
  }
  .pages.show {
    opacity: 1;
    z-index: -9999;
    display: grid;
    grid-template-rows: repeat(5, auto);
    gap: 3rem;
    width: 100%;
    left: 0;
    top: 4rem;
    transition: ease-in-out 0.25s;
    overflow-y: scroll;
  }
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .header {
    height: 60px;
  }
}
