.image-container img {
  min-width: 100%;
  max-width: 100%;
  height: 100vh;
  background-size: cover;
  position: absolute;
  transition: 0.5s ease-in-out;
  z-index: -9999;
  object-fit: cover;
}
.image-container {
  object-fit: cover;
  background-color: #bbbbbb00;
}
.car-1 {
  text-align: left;
  background-image: linear-gradient(to bottom, #0000003f, #000000af);
  position: relative;
  height: 100vh;
}
.car-1 .text-container {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 10%;
  background: linear-gradient(to right, #00000054, #05050046);
  padding: 1rem;
  padding-bottom: 2rem;
  width: 40%;
  border-radius: 10px;
  height: max-content;
}
.car-1 .bi {
  position: absolute;
  font-size: 40px;
  color: #fff;
  font-weight: 900;
  cursor: pointer;
  transition: ease-in-out 0.3s;
}
.bi.bi-chevron-right {
  position: absolute;
  right: 1rem;
  top: 50%;
}
.bi.bi-chevron-left {
  position: absolute;
  left: 1rem;
  top: 50%;
}
.car-1 .bi:hover {
  color: #f0f033;
}
.bi-chevron-left:hover {
  left: 1.2rem;
}
.bi-chevron-right:hover {
  right: 1.2rem;
}
.readmore {
  color: #f0f033;
  padding: 0.5rem;
  margin: 1rem;
  border: 1px solid #f0f033;
}
.readmore:hover {
  background-color: #f0f033;
  color: #000;
  cursor: pointer;
  transition: ease-in-out 0.5s;
}
.text-head {
  transition: ease-in-out 0.5s;
  padding: 1rem;
}
.text-body {
  transition: ease-in-out 0.5s;
  padding: 1rem;
}

@media only screen and (max-width: 875px) {
  .car-1 .text-container {
    width: 50%;
    margin: auto;
  }
}
@media only screen and (max-width: 744px) {
  .car-1 .text-container {
    width: 80%;
    left: 8%;
    bottom: 0;
    margin: auto;
  }
}
